<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyc.wenjuan.admin.dao.FuncQuestionnaireMapper">

  <resultMap id="BaseResultMap" type="com.gyc.wenjuan.admin.model.FuncQuestionnaire">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="title" jdbcType="VARCHAR" property="title" />
	<result column="user_id" jdbcType="BIGINT" property="userId" />
	<result column="state" jdbcType="TINYINT" property="state" />
  <collection property="questions" javaType="java.util.ArrayList" ofType="com.gyc.wenjuan.admin.model.FuncQuestion"  column="questionnaire_id">
    <id column="que_id" jdbcType="BIGINT" property="id" />
    <result column="questionnaire_id" jdbcType="BIGINT" property="questionnaireId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="que_title" jdbcType="VARCHAR" property="title" />
    <result column="no" jdbcType="SMALLINT" property="no" />
    <collection property="options" javaType="java.util.ArrayList" ofType="com.gyc.wenjuan.admin.model.FuncOption"  column="question_id">
      <id column="opt_id" jdbcType="BIGINT" property="id" />
      <result column="question_id" jdbcType="BIGINT" property="questionId" />
      <result column="opt_no" jdbcType="TINYINT" property="no" />
      <result column="content" jdbcType="VARCHAR" property="content" />          
    </collection>          
  </collection> 
  </resultMap>
  
  <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.gyc.wenjuan.admin.model.FuncQuestionnaire">
    insert into func_questionnaire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from func_questionnaire
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.gyc.wenjuan.admin.model.FuncQuestionnaire">
    update func_questionnaire
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    a.*, b.id  que_id, b.questionnaire_id, b.type, b.title  que_title, b.no, c.id  opt_id, c.question_id, c.no  opt_no, c.content
    from func_questionnaire  a
    left join func_question  b on a.id = b.questionnaire_id
    left join func_option  c on b.id = c.question_id
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from func_questionnaire 
  </select>

  <select id="findPageByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <bind name="pattern" value="'%' + _parameter.userId + '%'" />
    select * from func_questionnaire 
    where user_id like #{pattern}
  </select>
</mapper>