<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyc.wenjuan.admin.dao.FuncOptionMapper">

  <resultMap id="BaseResultMap" type="com.gyc.wenjuan.admin.model.FuncOption">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="question_id" jdbcType="BIGINT" property="questionId" />
	<result column="no" jdbcType="TINYINT" property="no" />
	<result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  
  <insert id="add" parameterType="com.gyc.wenjuan.admin.model.FuncOption">
    insert into func_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="no != null">
        #{no,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from func_option
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.gyc.wenjuan.admin.model.FuncOption">
    update func_option
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from func_option
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from func_option
  </select>

  <select id="findAllByQuestionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from func_option
    where question_id like #{questionId,jdbcType=BIGINT}
    order by no asc
  </select>
  
</mapper>